/* Start of reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Increase line-height */
    line-height: 1.5;
    line-height: calc(1em + 0.5rem);
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* 10. Create a root stacking context */
#root,
#__next {
    isolation: isolate;
}

/* End of reset */



:root {
    --grid-gap: 4px;
    --border-color: #cbcbcb;
    --border-radius: 6px;
    --dialogue-padding: 8px 14px;
    --canvas-width: 2000px;
    --canvas-height: 2000px;

    --sunshine: #ffffc7;
    --lightgreen: #c7efcd;
    --lavender: #e3dfff;
    --lightsalmon: #f7dcc1;
    --orange: #DA7F51;

    font-size: 12px;
    font-family: 'Inter', Helvetica, sans-serif;
    background-color: #EBE7DF;
}


main {
    height: 100vh;
    padding: 6px;

    display: grid;
    gap: var(--grid-gap);

    grid-template-columns: minmax(66ch, 95ch) minmax(300px, 1fr);
}


#canvas--conversation {
    display: grid;
    grid-template-rows: 10fr 1fr;
    gap: var(--grid-gap);
}

/* Chat thread */

#window--chat-thread {
    background-color: #F5F4F0;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 20px 20px;

    display: flex;
    flex-direction: column-reverse;
}

#chat-thread {
    list-style-type: none;
    padding: 0;

    display: flex;
    gap: 8px;
    flex-direction: column;
}

#chat-thread li {
    padding: var(--dialogue-padding);
    max-width: 66ch;

}

/* grabbable texts from chat thread */

.color-picker {
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
    border: 4px solid white;
    border-radius: var(--border-radius);
    outline: 1px solid var(--border-color);

    /* top stack */
    z-index: 1;

    /* makeHighlightDrag handles dipslay toggling */
    /* display: flex; */
    gap: 1px;
    flex-direction: column;

    box-shadow: 1.5px 1.5px 8px rgba(82, 82, 82, 0.459);
}

.color-picker > h5 {
    font-size: 0.75em;
    border-bottom: 1px solid lightgrey;
    font-weight: 700;
    color: gray;
    padding: 0px 8px;
}

.color-picker div {
    position: relative;
    padding: 4px 8px;
    width: auto;
}

.color-picker div:hover {
    background-color: rgb(229, 229, 229);
    cursor: default;
}

.color-picker div > svg {
    position: relative;
    top: 4px;
    left: -4px;
    display: inline-block;
    /* outline: 1px solid var(--border-color); */
    /* border-radius: 4px; */
}

/* Pseudo-el runs short of color enumeration */

/* .color-picker div::before {
    content: '';
    position: relative;
    top: 3px;
    left: -4px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="%23007acc"><rect x="3" y="3" width="18" height="18" rx="2" /></svg>');
} */


.highlight {
    border-radius: 4px;
    cursor: grab;

    background-color: var(--main-fill);
    border: 1px solid color-mix(in hsl, grey 70%, var(--main-fill) 30%);
}

.highlight--sunshine {
    --main-fill: var(--sunshine);
}

.highlight--lightgreen {
    --main-fill: var(--lightgreen);
}

.highlight--lavender {
    --main-fill: var(--lavender);
}

.highlight--lightsalmon {
    --main-fill: var(--lightsalmon);
}

.highlight--orange {
    --main-fill: var(--orange);
    color: whitesmoke;
}

.turn--ai {
    text-align: right;
    align-self: flex-end;
}

.turn--user {
    text-align: left;
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    /* This resizes the border to surround the content */
    align-self: flex-start;
}

/* Draggable ghost */

.drag-ghost {
    position: fixed;
    pointer-events: none;

    font-weight: 500;
    max-width: 32ch;
    line-height: 1.33em;

    padding: 4px 10px;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 4px rgba(128, 128, 128, 0.459);

    /* background-color: var(--border-color); */
    /* border: grey dashed; */
    /* color: black; */
}

/* User input */

#window--chat-input {
    display: flex;
    flex-direction: column;
}

#chat-input {
    /* padding: var(--dialogue-padding); */
    padding: 10px 14px;
    flex: 1 1 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    box-sizing: border-box;
    resize: none;

    font-size: inherit;
}

#chat-input:focus {
    outline: 2px solid #6a655f;
    outline-offset: -1px;
}


/* Insight window config */

#insight--conversation {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: white;
}


/* viewport panning config */
.viewport {
    position: relative;
    height: 100%;
    margin: 0;
    overflow: hidden;
    cursor: grab;
}

.viewport.panning {
    cursor: grabbing;
}

.world {
    position: absolute;
    /* Pre-offet */
    /* LATER: Could use a view marque feature */
    top: -800px;
    left: -1005px;
    /* top: 0px; */
    /* left: 0px; */
    /* 2000x2000 canvas space */
    width: var(--canvas-width);
    height: var(--canvas-height);
    /* setPointerCapture will handle this later in JS */
    /* do not touch */
    transform: translate(0px, 0px);
}

.world img {
    position: absolute;
    inset: 0;
    top: 760px;
    left: 920px;
    scale: 0.6;
    opacity: 0.7;
    /* filter: contrast(1.2); */
}

/* canvas grid config */

canvas {
    position: absolute;
    margin: 0;
    z-index: -1;
}

/* canvas annotation settings */

.annotation {
    position: absolute;

    font-weight: 500;
    max-width: 32ch;
    line-height: 1.33em;

    padding: 4px 10px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    box-shadow: 1.5px 1.5px 4px rgba(128, 128, 128, 0.459);

    /* change cursor hover state to grab */
    cursor: grab;
    /* stops touch drag from scrolling the page */
    touch-action: none;
    /* stops touch drag from selecting marqueeing elements */
    user-select: none;
}

.annotation:active {
    cursor: grabbing;
}

.annotation--sunshine {
    --main-fill: #FFFFE0;
    background-color: var(--main-fill);
}

.annotation--lightgreen {
    --main-fill: var(--lightgreen);
    background-color: var(--main-fill);
}

.annotation--lavender {
    --main-fill: var(--lavender);
    background-color: var(--main-fill);
}

.annotation--lightsalmon {
    --main-fill: var(--lightsalmon);
    background-color: var(--main-fill);
}

.annotation--orange {
    --main-fill: var(--orange);
    background-color: var(--main-fill);
    color: whitesmoke;
}